/* ---------FOOTER--------- */

.footer{
    @include flex(flex,space-evenly,center);
    height: $altura-body*0.2;
    flex-direction:column;
    background-color: $celeste-claro;
    z-index:10;
    grid-area: footer;
    ul{
        /* width:20%; */
        @include flex(flex,space-evenly,center);
        flex-direction: row;
        li{
            display: inline-block;
            margin-right:1.56em;
            margin-left:1.56em;
            text-align: center;
        }
        &.menuFooter{
            li{
                text-transform: uppercase;
                a{
                    color:$gris-oscuro;
                    text-decoration: none;
                }
            }
            @media (min-width: 320px) and (max-width: 480px){
                display:none;
            }
            @media (min-width: 480px) and (max-width: 767px){
                display:none;
            }
        }
    }
    
    img{
        height: 1.25em;
        width:1.25em;
    }
    .footer__texto{
        color:gray;
        &.footer__texto--mediano{
            font-size:$font-size-mediana;
            font-weight:$light;
            @media (min-width: 320px) and (max-width: 480px){
                display:none;
            }
            @media (min-width: 480px) and (max-width: 767px){
                display:none;
            }
        }
        &.footer__texto--chico{
            font-size: $font-size-mini;
        }
    }
    &.contacto{
        background-color: $blanco;
    }
    @media (min-width: 320px) and (max-width: 480px){
        height:10%;
    }
    @media (min-width: 480px) and (max-width: 767px){
        height:10%;
    }
    @media (min-width: 768px) and (max-width: 991px){
        height:10%;
    }
}
