.header{
    margin-top:8em;
    &.equipo{
        margin-top: 5em;
    }
    nav{
        div{
            div{
                a{
                    margin-right:2em;
                }
            }
        }
    }
}

img.d-inline-block.align-top{
    width:5em
}