/* COLORS */
$blanco:white;
$amarillo:rgb(249, 220, 100);
$celeste:rgb(125, 230, 215);
$rosa:rgb(230, 131, 195);
$amarillo-claro:#FDF1C4;
$celeste-claro:#CFF6F0;
$rosa-claro:#F6D1E9;
$gris-oscuro:rgb(58, 56, 56);

/* HEIGHTS AND WIDTHS*/
$altura-body:100em;
$altura-body-chico:60em;
$total-padre:100%;

/*FONT SIZES*/
$font-size-mediana:1.25em;
$font-size-chica:1em;
$font-size-chica-plus:1.05em;
$font-size-mini:0.8em;

/*FONT WEIGHTS*/
$light:100;
$normal:500;
$negrita:700;